body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: tan;
  color: black;
}

a {
  color: #00B7FF;
}

header {
  background-color: navy;
}

h1, #desc {
  color:white;
}

#background {
  background-color: white;
}

#weatherInfo {
  background-color: black;
  color: tan;
}